notebook_pges/.ipynb_checkpoints/*
templates/.ipynb_checkpoints/*

*.vrt
*.tiff
*.hdr
*.h5
*.log
*_stdout.txt
*_stderr.txt
*.csv
*.json

NISAR_L*_*_*

log/*
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
__pycache__/*
qa/*
*/downloads/*
*/output/*
*/__pycache__/*
